<!doctype html>
<html>

<head>
    <title>Sense Database Data</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		body {
			text-align: center;
		}
		#g1,
		#g2 {
			width: 200px;
			height: 160px;
			display: inline-block;
			margin: 1em;
		}
    </style>
</head>

<body>
	<h1>DHT Sensor Data </h1>
    <div id="g1"></div>
    <div id="g2"></div>
    <hr>
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>	
	<hr>
	<h3>Stored Data</h3>
		<p> Sample Frequency: {{ freq }} minutes</p>
		<hr>
		<img src="/plot/temp" alt="Image Placeholder" width="49%">
		<img src="/plot/hum" alt="Image Placeholder" width="49%">
</body>

</html>

